<footer class="footer text-center">
    <p>
        <a href="{{ path('core_home') }}">BR Plateforme JOB </a> Developed by BR Portfolio.  © {{ 'now'| date('Y') }}  |   <a href="{{ path('core_contact') }}"><span> Contact nous </span></a>
         </p>
</footer>